@page "/" 
@inject NavigationManager NavMgr 

<PageTitle>Home</PageTitle> 

<div class="container mt-5">
    
    <div class="text-center">

        <h1 class="display-4 fw-bold mb-3">Kitabkhana Library</h1>

        <AuthorizeView>
            <Authorized>
                <h3 class="text-secondary">
                    Hello, @(context.User.Identity?.Name ?? "User") 👋
                </h3>
            </Authorized>
        </AuthorizeView>

        <p class="lead mt-3">
            To browse interesting books 😊
        </p>

        <button class="btn btn-primary btn-lg mt-3" @onclick="GoToLogin">
            Go to Login Page
        </button>
    </div>

</div>


@code {
    void GoToLogin()
    {
           Console.WriteLine("Click");
        NavMgr.NavigateTo("/login");
    }
}