<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KitabKhana📚</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="books" style="column-gap: 0.15rem;">
                <span class="bi bi-book-fill" style="font-size: 1.3rem; position: relative; top: -12px;"></span>
                <span style="margin-left: -2px;">Books</span>
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="loans/activeloans" style="column-gap: 0.15rem;">
                <span class="bi bi-clock-history" style="font-size: 1.3rem; position: relative; top: -12px;"></span>
                <span style="margin-left: -2px;">Active Loans</span>
            </NavLink>
        </div>
    </nav>
</div>
